.footer {
  background: linear-gradient(#2f324b, #2f324b);
  padding: 45px 0;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 19px;
}

.footer__cert {
  display: flex;
  flex-direction: column;
  text-align: left;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 37px;
  }
}

@media (max-width: 320px) {
  .footer,
  .container {
    padding: 0;
  }

  .footer__container {
    flex-wrap: wrap;
    background: #2f324b;
  }

  .footer__logo,
  .footer__phone {
    padding: 24px 15px;
  }

  .footer__cert {
    width: 87px;
    font-size: 8px;
    line-height: 11px;
  }

  .footer__done {
    width: 100%;
    order: 1;
    padding: 10px 0;
    background: #2a2c3f;
  }

  .call__img {
    display: block;
  }
}
